/* 모든 요소의 기본 여백 제거 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* HTML과 Body의 기본 설정 */
html,
body {
    height: 100%;
}

/*초록색 박스 가운데 정렬*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*버튼*/
.menu {
    display: block;
    /* 가로전체차지*/
    align-items: flex-start;
    /*왼쪽정렬*/
    justify-content: baseline;
    width: 90%;
}

.menu button {
    display: inline;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 0;
}

#close {
    background-color: #ff605c;
}

#minimize {
    background-color: #ffbd44;
}

#maximize {
    background-color: #00ca4e;
}

/*박스*/
.calculator-container {
    display: flex;
    /* 주 컨테이너 */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 90%;
    border: 2px solid black;
    gap: 0;
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    height: 15%;
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold; /*글자굵게*/
    overflow: auto;
}

.buttons {
    display: flex;
    flex-wrap: wrap; /*다음줄 넘기기*/
    align-content: start; /* 넘긴줄들 왼쪽 정렬*/
    width: 90%;
    height: 70%;
    border: 1px solid black;
    padding: 0px;
    gap: 0;
}

.button {
    width: 25%;
    height: 20%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0; /*모서리 둥글게*/
    border:1px solid black
}

.button:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.3);

}

.button:active{
    background-color: rgba(43, 43, 165, 0.5) ;
}

.zero {
    flex: 0 0 50%;/*버튼즈 기준으로 50%차지*/
}